# This is Git's per-user configuration file.
[user]
	name = Johannes Huwald
	email = johannes.huwald@gmail.com
[core]
	editor = vim
[submodule]
	recurse = true
[status]
	submoduleSummary = true
[init]
	defaultBranch = main
[pull]
	rebase = true
